:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 128px;
}

.header,
button {
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  height: 32px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 0px 8px;
  font-size: 1.2rem;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

input:focus:invalid {
  outline: none;
}

button {
  height: 42px;
  background-color: rgb(25, 150, 145);
  color: white;
  margin-top: 16px;
  border: 0;
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 0.9rem;
}
